@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

/*...*/
*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  background-color: #ddd;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul,li{
  list-style: none;
}
/*Header*/
.headerwrap{
  height: 50px;
  width: 100%;
  background-color: #444;
}
.headerwrap header{
  margin: 0 auto;
  width: 1300px;
  height: 50px;
}
.headerwrap img{
  margin-top: 10px;
  width: 120px;
  margin-top: -5px;
}
.headerwrap input{
  width: 350px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  border: none;
}
.headerwrap a{
  margin: 0 20px;
  color: #fff;
}

/*main*/
.main{
  width:1300px;
  margin: 30px auto;
}
.content{
  width: 950px;
  float: left;
  background: #fff;
  overflow: hidden;
}
.sider{
  width: 325px;
  float: right;
}

/*foot*/
.foot{
  width: 100%;
  height: 220px;
  float: left;
  margin-top: 15px;
  background-color: #fff;
}
.footbox{
  width: 1300px;
  height: 200px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 17px;
}

/*home内部组件样式*/
.links{
  width: 950px;
  height: 45px;
  background: rgb(250, 250, 247);
  line-height: 45px;
}
.links div{
  float: left;
  height: 30px;
  line-height: 30px;
  margin-top: 7px;
  font-size: 16px;
  margin-left: 25px;
  border-radius: 3px;
  text-align: center;
}
.bc{
  width: 50px;
  background: rgb(145, 238, 133);
}
.tiezi{
  width: 950px;
  height: 2000px;
}
.topic{
  width:950px;
  height:50px;
  line-height:50px;
  border: 1px solid #ddd;
}
.topic div{
  float: left;
}
.user1{
  padding-left:7px;
  margin-top:7px;
  width:50px;
  height:35px;
}
.img1{
  border-radius:4px;
  width:35px;
  height:35px;
  margin-top:-18px;
}
.title{
  width:700px;
  height:50px;
  color:#000;
  font-size:16px;
  overflow:hidden;
}
.title :hover{
  text-decoration: underline;
}
.attop{
  width: 45px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: rgb(137, 224, 22);
}

.time{
  width: 50px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
  float:right;
}
.user2{
  margin-top:7px;
  width:25px;
  height:25px;
}
.img2{
  border-radius:4px;
  width:25px;
  height:25px;
  margin-top:-18px;
}
.look{
  width: 75px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
}

.auto{
  margin: 0 auto;
  width: 300px;
  margin-bottom: 70px;
}
.bomtab{
  margin-top:20px;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  float: left;;
  border:1px solid #ddd;
}
/*点击样式切换*/
.active{
  background: greenyellow;
}

/*login*/
.links p{
  font-size: 16px;
  margin-left: 10px;
  
}
.links span{
  color: rgb(105, 172, 5);
}
.logindiv{
  margin: 0 auto;
  width: 400px;
  height: 280px;
  margin-top: 30px;
}
.logindiv div{
  margin: 0 auto;
  width: 60px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 17px;
  border-radius: 3px;
  margin-top: 40px;
  background: rgb(72, 129, 196);
}
.logindiv input{
  width: 320px;
  height: 38px;
  right: 0;
  border-radius: 3px;
  margin-top: 20px;
  border: 1px solid rgb(192, 191, 191);
}

/*topic*/
.d1{
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.tattop{
  width: 35px;
  height: 28px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  float:left;
  background: rgb(111, 189, 10);
}
.d2{
  padding-left: 10px;
  width: 950px;
  overflow: hidden;
}
.reply{
  padding-left: 10px;
  padding-top: 10px;
  background: #fff;
  overflow: hidden;
}
.num{
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  background: rgb(250, 250, 247);
}
.r1{
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 4px;
}
.repimg{
  width: 35px;
  height: 35px;
  border-radius: 4px;
}
.r2{
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  float: left;
  font-size: 16px;
}
.r3{
  float: left;
  width: 880px;
  margin-left: 60px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #444;
}
.zan{
  float: right;
  margin-right: 10px;
  height: 35px;
  line-height: 35px;
}

/*All组件*/
.tphov :hover{
  background: rgb(250, 250, 247);
}
.hov :hover{
  text-decoration-line: underline;
}





